#sidebar {
    transform: translateX(100%);
    transition: transform 800ms ease-in;
  }
  #sidebar.slideIn {
    transform: translateX(0);
  }
  #sidebar.slideOut {
    transform: translateX(100%);
  }

#scale {
      transform: translateX(0);
      transition: transform 800ms ease-in;
  }
  #scale.small {
    right: 10%;
    margin-left: 22%;
    padding-top: 5%;
    transform: translateX(-33%) scale(1.05);
  }
  #scale.big {
    margin-right: 10%;
    transform: translateX(5%);
}