#content{
    align-content: center;
    justify-content: center;
    min-width: "100vw" ; 
}
div{
    text-align: center;
}

#sliding {
    transform: translateX(100%);
    transition: transform 600ms ease-in;
  }
  #sliding.slideIn {
    transform: translateX(0);
  }
  #sliding.slideOut {
    transform: translateX(100%);
  }